Repository uswds/uswds-site, pull requests merged in 2020-07, with the labels that each got.

#985 USWDS - Settings: Audit settings to ensure correctness.
  _data/settings.yml
  _data/settings/01-general.yml
  _data/settings/color.yml
  _data/settings/components/accordion.yml
  _data/settings/components/alert.yml
  _data/settings/components/banner.yml
  _data/settings/components/breadcrumb.yml
  _data/settings/components/button.yml
  _data/settings/components/card.yml
  _data/settings/components/checkbox.yml
  _data/settings/components/footer.yml
  _data/settings/components/form.yml
  _data/settings/components/header.yml
  _data/settings/components/hero.yml
  _data/settings/components/input.yml
  _data/settings/components/navigation.yml
  _data/settings/components/search.yml
  _data/settings/components/sidenav.yml
  _data/settings/spacing.yml
  _data/settings/typography.yml
  _data/settings/utilities.yml
  _includes/settings-table.html
  pages/documentation/getting-started/settings.md
Labels: improves: correctness, improves: documentation, needs: feedback, topic: documentation

#1015 Use `main` instead of `master` for default branch refs
  CONTRIBUTING.md
  README.md
Labels: improves: correctness, improves: documentation

#986 USWDS - Docs: Add settings and variations to documentation.
  _components/accordions.md
  _components/alerts.md
  _components/banner.md
  _components/breadcrumb.md
  _components/button-groups/01-default.md
  _components/buttons.md
  _components/card.md
  _components/footers.md
  _components/form-controls/01-character-count.md
  _components/form-controls/02-checkboxes.md
  _components/form-controls/03-combo-box.md
  _components/form-controls/04-date-input.md
  _components/form-controls/05-date-picker.md
  _components/form-controls/06-date-range-picker.md
  _components/form-controls/07-dropdown.md
  _components/form-controls/08-file-input.md
  _components/form-controls/09-radio-buttons.md
  _components/form-controls/10-range-input.md
  _components/form-controls/11-text-input.md
  _components/form-controls/12-validation.md
  _components/form-controls/form-controls.md
  _components/headers/headers.html
  _components/labels.md
  _components/search-bar.md
  _components/sidenav.md
  _components/tables.md
  _components/tooltip.md
  _data/settings/01-general.yml
  _data/settings/color.yml
  _data/settings/components/alert.yml
  _data/settings/components/banner.yml
  _data/settings/components/breadcrumb.yml
  _data/settings/components/button.yml
  _data/settings/components/card.yml
  _data/settings/components/header.yml
  _data/settings/components/hero.yml
  _data/settings/components/input.yml
  _data/settings/components/navigation.yml
  _data/settings/components/search.yml
  _data/settings/components/sidenav.yml
  _data/settings/spacing.yml
  _data/settings/typography.yml
  _data/settings/utilities.yml
  _includes/settings-table-simple.html
  _includes/settings-table.html
  css/_uswds-theme-custom-styles.scss
  pages/design-tokens/color/state-tokens.md
  pages/design-tokens/color/system-tokens.md
  pages/design-tokens/color/theme-tokens.md
  pages/design-tokens/flex.md
  pages/design-tokens/opacity.md
  pages/design-tokens/order.md
  pages/design-tokens/shadow.md
  pages/design-tokens/spacing-units.md
  pages/design-tokens/typesetting/font-size.md
  pages/design-tokens/typesetting/font-weight.md
  pages/design-tokens/typesetting/letterspacing.md
  pages/design-tokens/typesetting/line-height.md
  pages/design-tokens/typesetting/measure.md
  pages/design-tokens/z-index.md
Labels: affects: all components, improves: documentation, skill: content design, topic: documentation
